.wrapper {
  padding: 5px;
  align-items: center;
}
.span:not(:last-child) {
  margin-right: 15px;
  border-radius: 5px;
  padding: 5px;
}

.span {
  font-weight: 500;
}

.span:nth-child(1) {
  background-color: chartreuse;
}

.span:nth-child(2) {
  background-color: yellow;
}

.span:nth-child(3) {
  background-color: red;
}

.div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.p {
  font-weight: 700;
}
.p:nth-child(1) {
  margin-right: 20px;
}
